In [1]:
from mechanize import Browser
import shutil
import os
import pandas as pd

In [2]:
# Get data from files:
path = '../Documents/Parsing/sanskrit_tree_bank/Preprocessed_amrith_data/Deliverables/1k_conll_sent_test/'
files = os.listdir(path)
count = 0
for file in files:
    data = pd.read_csv(path+file,sep=',')
    sentence= ' '.join(data['word'])
    name = file.replace('.csv','')
    ###################################################################3
    br = Browser()
    br.open("http://172.26.175.142/scl/SHMT/index.html")
    br.select_form(name="test")
    br['encoding'] = ['SLP']
    br['text']= sentence
    br.submit()
    
    # Give permissions to all the files
    !echo hk | sudo -S chmod a+rwx ./SKT_TEMP/*
    # Move newly generated file to store folder after renaming it
    all_subdirs = [d for d in os.listdir('./SKT_TEMP')]
    for dirs in all_subdirs:
        if 'tmp_in' in dirs:
            os.rename('./SKT_TEMP/'+dirs,'./SKT_TEMP/'+name)
            break
    shutil.move('./SKT_TEMP/'+name,'./SKT_TEMP/store/')  
    files = os.listdir('./SKT_TEMP/')
    for f in files:
        if (f.startswith("in")):
            shutil.move('./SKT_TEMP/'+f, './SKT_TEMP/'+name)
        else:
            pass
    ########################################################
    count=count+1
    print(count)
    if count>5:
        break
data

[sudo] password for jivnesh: 1
[sudo] password for jivnesh: 2
[sudo] password for jivnesh: 3
[sudo] password for jivnesh: 4
[sudo] password for jivnesh: 5
[sudo] password for jivnesh: 6

   s_no           word   lemma        morph  true_node      dep_tag  to_node
0     0       gAyakAya  gAyaka  dat. sg. m.          0  sampraxanam      4.0
1     1  puraskArarUpe    rUpa  loc. sg. n.          5   axikaranam      4.0
2     2      yatkiYcit     cit  acc. sg. n.         37        karma      4.0
3     3             te     tad  nom. du. n.          9        karwa      4.0
4     4    dattavantaH      dA         ppa.         15          NaN      NaN